* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  color: white;
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

/* SPAN */
.span-blue {
  color: blue;
}

.span--green {
  color: rgb(11, 141, 11);
}
.span--green:hover {
  color: rgb(180, 180, 7);
}

.span--yellow {
  color: rgb(180, 180, 7);
}
.span--yellow:hover {
  color: rgb(11, 141, 11);
}

.span-red {
  color: red;
}

.span--bold {
  font-weight: bold;
}

body {
  width: 100%;
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.main__text-colectivos {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: rgb(236, 236, 236);
  line-height: 2rem;
}

.text-find {
  margin-top: 2rem;
}

.text-align-center {
  text-align: center;
}

.main__title {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.main__title.main__title-con {
  margin: 0.5rem;
}

.text-font {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
}

.text-white h4 {
  margin: 10px;
}

.main__text--c {
  color: rgb(236, 236, 236);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.main__text {
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: rgb(236, 236, 236);
  padding: 2rem;
  line-height: 2rem;
}

.bus:hover {
  opacity: 0.3;
}

main {
  text-align: center;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  z-index: 2;
}
header .nav-item {
  margin: 0.3rem;
}
header .nav-item a {
  display: inline-block;
}

.container {
  margin: 0;
  padding: 0;
}

.section__image-n {
  width: 16rem;
  height: 16rem;
  margin: 2rem;
}

.section__image-i {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 2rem;
}

.image__description {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  font-style: italic;
  color: rgb(236, 236, 236);
  line-height: 2rem;
  padding: 1rem 0rem;
}

.boton-aqui {
  padding: 5px 20px;
}

.aqui {
  color: black;
  text-decoration: none;
  padding: 5px;
}
.aqui:hover {
  cursor: pointer;
}

.btn,
button {
  background: linear-gradient(to right, rgb(11, 141, 11), rgb(180, 180, 7));
  color: black;
  padding: 5px 10px;
}
.btn:hover,
button:hover {
  opacity: 0.7;
}

.iframe-container iframe {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.iframe-container {
  margin: 2rem 0;
}

.cont {
  width: 90%;
  margin: 0 auto;
  max-width: 767px;
}

hr {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex p {
  text-align: left;
  padding: 15px;
}

.footer__main {
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  margin: 0.5rem;
  color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0rem 0.5rem;
}

.fa-brands {
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  color: rgb(11, 141, 11);
}

.fa-brands:hover {
  color: rgb(180, 180, 7);
  opacity: 1rem;
}

.footer__text {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.boton-contacto {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e0dada;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.boton-contacto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.boton-contacto:hover {
  color: #e8e8e8;
}

.boton-contacto:hover::before {
  width: 100%;
}

img {
  animation: fadeIn 1.5s ease;
  transition: all 50ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(5px);
  }
}
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .main__title {
    padding: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .iframe-container iframe {
    width: 25rem;
    height: 25rem;
  }
  .grid--container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
  }
  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: rgb(236, 236, 236);
    line-height: 2rem;
    padding: 2rem;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .image__position {
    display: flex;
    justify-content: center;
  }
  .card {
    border-radius: 30px;
    height: 30rem;
  }
  .card__image {
    height: 15rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  main {
    text-align: center;
  }
  .grid--container {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    justify-content: center;
  }
  .main__title {
    padding: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  .main__text-colectivos {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: rgb(236, 236, 236);
    line-height: 2rem;
  }
  .main__text--c {
    font-family: "Noto Sans Mono", monospace;
    font-style: italic;
    color: rgb(236, 236, 236);
    margin: 1rem;
    line-height: 4rem;
    padding: 0;
  }
  .section__image-i {
    width: auto;
    height: auto;
    max-width: 400px;
    padding: 2rem;
  }
  .iframe-container iframe {
    width: 35rem;
    height: 35rem;
  }
  .iframe-container {
    padding: 2rem;
  }
  .cont {
    margin: 0 auto;
    max-width: 1200px;
  }
  form {
    width: 50%;
  }
  .main__title-con {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0.5rem;
    padding: 2rem;
  }
}
form {
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 3rem;
  border-radius: 7px;
  margin-bottom: 3rem;
  width: 90%;
}

form h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
