.boton-aqui {
  padding: 5px 20px;
}

.aqui {
  color: black;
  text-decoration: none;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
}

.btn,
button {
  background: linear-gradient(to right, $primary-color, $secondary-color);
  color: black;
  padding: 5px 10px;
  &:hover {
    opacity: 0.7;
  }
}
