.cont {
  width: 90%;
  margin: 0 auto;
  max-width: 767px;
}

hr {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  p {
    text-align: left;
    padding: 15px;
  }
}
