.footer__main {
  font-size: 1.5rem;
  font-family: $text-secondary-font;
  margin: 0.5rem;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0rem 0.5rem;
}

.fa-brands {
  margin-right: 0.3rem;
  padding-right: 0.3rem;
  color: $primary-color;
}

.fa-brands:hover {
  color: $secondary-color;
  opacity: 1rem;
}

.footer__text {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
