form {
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 3rem;
  border-radius: 7px;
  margin-bottom: 3rem;
  width: 90%;
}

form {
  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none;
  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
