.main-title {
  color: white;
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

/* SPAN */

.span-blue {
  color: blue;
}

.span--green {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

.span--yellow {
  color: $secondary-color;
  &:hover {
    color: $primary-color;
  }
}

.span-red {
  color: red;
}

.span--bold {
  font-weight: bold;
}

body {
  width: 100%;
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.main__text-colectivos {
  font-family: $text-font;
  font-style: italic;
  color: $text-color;
  line-height: 2rem;
}

.text-find {
  margin-top: 2rem;
}

.text-align-center {
  text-align: center;
}

.main__title {
  padding: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  &.main__title-con {
    margin: 0.5rem;
  }
}

.text-font {
  font-family: $text-font;
  font-style: italic;
}

.text-white h4 {
  margin: 10px;
}

.main__text--c {
  color: $text-color;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.main__text {
  font-family: $text-font;
  font-style: italic;
  color: $text-color;
  padding: 2rem;
  line-height: 2rem;
}

.bus:hover {
  opacity: 0.3;
}

main {
  text-align: center;
  justify-content: center;
}
