.section__image-n {
  width: 16rem;
  height: 16rem;
  margin: 2rem;
}

.section__image-i {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 2rem;
}

.image__description {
  margin: 0;
  font-family: $text-font;
  font-style: italic;
  color: $text-color;
  line-height: 2rem;
  padding: 1rem 0rem;
}
