.nav-item a {
  display: inline-block;
}

.nav-item {
  margin: 0.3rem;
}

header {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  font-family: "Abyssinica SIL", serif;
  z-index: 2;
}

.container {
  margin: 0;
  padding: 0;
}
